{% block ezsrrating_field %}
    <div class="star-rating" title="{% if field.value.rating_count > 0 %}{{ field.value.rating }} / 5{% else %}No rates given yet{% endif %}">
        {% for rate in 1..5 %}
            <span class="{%  if field.value.rounded_average >= rate %}set{% else %}unset{% endif %}">{%  if field.value.rounded_average >= rate %}*{% else %}o{% endif %}</span>
        {% endfor %}
    </div>
{% endblock %}